[build]
builder = "nixpacks"

[build.nixpacksPlan]
phases = { setup = { nixPkgs = ["nodejs_20"] }, install = { cmds = ["npm install", "cd server && npm install"] }, build = { cmds = ["npm run build"] } }
