.contextTabContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.storySection {
  width: 100%;
}

.mapSection {
  width: 100%;
  height: 300px;
  min-height: 240px;
  max-height: 300px;
}

@media (max-width: 640px) {
  .mapSection {
    height: 240px;
    min-height: 200px;
    max-height: 240px;
  }
}
