.contextTabContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.storySection {
  width: 100%;
}

.mapSection {
  width: 100%;
  height: 360px;
  min-height: 360px;
}

@media (max-width: 640px) {
  .mapSection {
    height: 280px;
    min-height: 280px;
  }
}
